{% extends "base.html" %}

{% block title %}Siempre Verde - Accueil{% endblock %}

{% block content %}
<h1>Bienvenue chez Siempre Verde</h1>

<p>Choisissez une option dans le menu ci-dessus pour commencer.</p>
<ul>
    <li><strong>Gestion des Articles</strong> : Ajoutez, modifiez ou supprimez des articles de base de données.</li>
    <li><strong>Simulateur d'Emballage</strong> : Calculez les coûts d'emballage au Kg en fonction des articles composants la palette.</li>
    <li><strong>Produits Finis</strong> : Gérez les produits finis.</li>
    <li><strong>Simulateur de coûts</strong> : Estimez les coûts totaux de production au kg.</li>
    <li><strong>Convertisseur de devise</strong> : Convertissez des montants entre différentes devises.</li>

</ul>
{% endblock %}